.card {
    background-color: #1aaa7386; 
    padding: 2rem; 
    margin: 2rem;;
   
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  
    &:hover {
      transform: translateY(-5px); 
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); 
    }
  
  
  
   
  }