.custom-nav {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 1em 0;
    
}

.navbar {
    
    box-shadow: $header-shadow;
    width: 100vw;
    
   .navbar-toggler {
        margin-right: 3em;
    }
    
    }
