.page-header {
  max-width: 900px; /* maximální šířka */
  height: 200px; /* výška proužku */
  background-size: cover;
  background-position: center 80%; 
  background-repeat: no-repeat;

  .page-template-container {
    max-width: 900px;
  
  }
}



  
    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }
  
    input[type="date"],
    input[type="time"],
    input[type="text"],
    textarea {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  
    textarea {
      min-height: 100px;
      resize: vertical;
    }
  
    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 10px;
      }
    }
  
    .chat {
      .chat-box {
        max-height: 200px;
        overflow-y: auto;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        border-radius: 4px;
      }
  
      .chat-message {
        padding: 5px 0;
        border-bottom: 1px solid #eee;
      }
  
      input[type="text"] {
        margin-bottom: 10px;
      }
  
      button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  

  