body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    
}

.headers-font {
    font-family: $font-playwrite;
    font-optical-sizing: auto;
    font-style: normal;
    
  }

  h1 {
    font-family: $font-playwrite;
    font-optical-sizing: auto;
    font-size: 5em;
    color: $zen-green;
    text-align: center;
    margin-top: 20px;
    text-shadow: $header-shadow;
}

small {
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

a {
    color: #17472d;
    text-decoration: none;
}